.about-page {
  padding: 3rem 2rem;
  text-align: center;
  background: #f9f9f9;
  padding-top: 100px;
}

.header {
  margin-bottom: 2rem;
}

.description, 
.image-container {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto 2rem auto;
  text-align: left;
}

.image-container img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container p {
  font-size: 0.9rem;
  color: #666;
  text-align: left;
  margin-top: 0.5rem;
}
