.lattice-page {
  padding: 3rem 2rem;
  text-align: center;
  background: #f9f9f9;
  padding-top: 100px;
}

.header {
  margin-bottom: 2rem;
}

.scene-container {
  width: 100%;
  height: 70vh; /* Adjust the height as needed */
  max-width: 1200px; /* This limits the width */
  margin: 0 auto; /* Centers the container */
  padding: 1rem; /* Optional, adds space around the scene */
  box-sizing: border-box;
  border: 1px solid #ccc; /* Optional, adds a border around the container */
  background-color: #f4f4f4; /* Optional, gives the container a background color */
  border-radius: 8px; /* Optional, adds rounded corners to the container */
}

.lattice-page .description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.lattice-page .controls {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lattice-page .form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.lattice-page .form input {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.lattice-page .form button {
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.lattice-page .form button:hover {
  background-color: #45a049;
  text-decoration: underline;
}

.lattice-page .button {
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.lattice-page .button:hover {
  background-color: #45a049;
  text-decoration: underline;
}

.lattice-page .mode-label {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.info-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-button:hover {
  background-color: #0056b3;
}

.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-content {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.close-modal {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.close-modal:hover {
  background-color: #0056b3;
}
